@font-face {
  font-family: "icon"; /* Project id 2688984 */
  src: url('iconfont.eot?t=1626847922387'); /* IE9 */
  src: url('iconfont.eot?t=1626847922387#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1626847922387') format('woff2'),
       url('iconfont.woff?t=1626847922387') format('woff'),
       url('iconfont.ttf?t=1626847922387') format('truetype'),
       url('iconfont.svg?t=1626847922387#icon') format('svg');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.his-caozuo-Inventory:before {
  content: "\e6db";
}

.his-caozuo-return-premium:before {
  content: "\e6dc";
}

.his-caozuo-mon-statement:before {
  content: "\e6dd";
}

.his-caozuo-mon-statement-cancel:before {
  content: "\e6de";
}

.his-caozuo-Audit:before {
  content: "\e6df";
}

.his-caozuo-update-information:before {
  content: "\e6e0";
}

.his-caozuo-statistics:before {
  content: "\e6e1";
}

.his-caozuo-fold:before {
  content: "\e6e2";
}

.his-caozuo-download:before {
  content: "\e6e3";
}

.his-caozuo-excle:before {
  content: "\e6e4";
}

.his-caozuo-cancel:before {
  content: "\e6e5";
}

.his-module_division_fapiao:before {
  content: "\e6d3";
}

.his-module_division_shoukuan:before {
  content: "\e6e6";
}

.his-caozuo_shangchuan:before {
  content: "\e6e7";
}

.his-caozuo_sheji:before {
  content: "\e6e8";
}

.his-button_yinru:before {
  content: "\e6e9";
}

.his-caozuo_chuangkou:before {
  content: "\e6ea";
}

.his-caozuo_zhuanzhang:before {
  content: "\e6eb";
}

.his-naozhong:before {
  content: "\e6ed";
}

.his-close:before {
  content: "\e611";
}

.his-caozuo_fukong:before {
  content: "\e6ee";
}

.his-caouo_tingyao:before {
  content: "\e6ef";
}

.his-caozuo_cexiaozhuanyuan:before {
  content: "\e6f0";
}

.his-caozuo_yuezhuanchu:before {
  content: "\e6f1";
}

.his-caozuo_jiankangka:before {
  content: "\e6f2";
}

.his-caozuo_guashi:before {
  content: "\e6f3";
}

.his-caozuo_xinzengchufang:before {
  content: "\e6f4";
}

.his-caouo_shanchuchufang:before {
  content: "\e6f5";
}

.his-caozuo_zhuxiao:before {
  content: "\e6f6";
}

.his-caozuo_yuyue:before {
  content: "\e6f7";
}

.his-caozuo_search:before {
  content: "\e6f8";
}

.his-caozuo_quxiaohuizong:before {
  content: "\e6f9";
}

.his-caozuo_huizong:before {
  content: "\e6fa";
}

.his-active:before {
  content: "\e60a";
}

.his-mokuai_chuyuanshezhi:before {
  content: "\e6fb";
}

.his-caozuo_canshenshuju:before {
  content: "\e6fc";
}

.his-caozuo_chongxindengji:before {
  content: "\e6fd";
}

.his-caozuo_danbingren:before {
  content: "\e6fe";
}

.his-caozuo_kajiegua:before {
  content: "\e6ff";
}

.his-caozuo_kaguashi:before {
  content: "\e700";
}

.his-caozuo_yuyuechaxun:before {
  content: "\e701";
}

.his-caozuo_yuyuegengai:before {
  content: "\e702";
}

.his-caouzo_kazhuxiao:before {
  content: "\e6ec";
}

.his-caozuo_quxiaoyuyue:before {
  content: "\e703";
}

.his-caozuo_huifu:before {
  content: "\e704";
}

.his-tcm:before {
  content: "\e705";
}

.his-caozuo_jizhang:before {
  content: "\e706";
}

.his-right_caozuo_kazhuxiao:before {
  content: "\e707";
}

.his-right_caozuo_kajiegua:before {
  content: "\e708";
}

.his-right_caozuo_kaguashi:before {
  content: "\e709";
}

.his-right_caozuo_baochun:before {
  content: "\e70a";
}

.his-right_caozuo_fuzhi:before {
  content: "\e70b";
}

.his-identity:before {
  content: "\e70c";
}

.his-org:before {
  content: "\e656";
}

.his-publish:before {
  content: "\e70d";
}

.his-password:before {
  content: "\e657";
}

.his-keshiqiehuan:before {
  content: "\e70e";
}

.his-pull-down:before {
  content: "\e658";
}

.his-keshi-chaosheng:before {
  content: "\e70f";
}

.his-username:before {
  content: "\e659";
}

.his-mokuai_jibenxinxi:before {
  content: "\e710";
}

.his-name:before {
  content: "\e65a";
}

.his-mokuai_yaopinbaozhuang:before {
  content: "\e711";
}

.his-finger-print:before {
  content: "\e65b";
}

.his-youcaozuo_huifu:before {
  content: "\e712";
}

.his-calendar-close:before {
  content: "\e661";
}

.his-nullify:before {
  content: "\e713";
}

.his-refresh:before {
  content: "\e662";
}

.his-caozuo_jianchashenqing:before {
  content: "\e714";
}

.his-copy:before {
  content: "\e664";
}

.his-caozuo_binglishuxie:before {
  content: "\e715";
}

.his-add:before {
  content: "\e665";
}

.his-caozuo_jianyanshenqing:before {
  content: "\e716";
}

.his-calendar:before {
  content: "\e666";
}

.his-caozuo_shoushushenqing:before {
  content: "\e717";
}

.his-control-close:before {
  content: "\e660";
}

.his-caozuo_huizhenshenqing:before {
  content: "\e718";
}

.his-dispensing:before {
  content: "\e667";
}

.his-mokuai_huizhenmudi:before {
  content: "\e719";
}

.his-disposition:before {
  content: "\e668";
}

.his-mokuai_yishenqianming:before {
  content: "\e71a";
}

.his-dictionary:before {
  content: "\e669";
}

.his-btn-close-copy:before {
  content: "\e71b";
}

.his-examine:before {
  content: "\e66a";
}

.his-btn-del-copy:before {
  content: "\e71c";
}

.his-home:before {
  content: "\e66b";
}

.his-btn-save-copy:before {
  content: "\e71d";
}

.his-keyboard:before {
  content: "\e66d";
}

.his-btn-add-copy:before {
  content: "\e71e";
}

.his-logo:before {
  content: "\e66e";
}

.his-youcaozuo_tuichuang:before {
  content: "\e71f";
}

.his-operation:before {
  content: "\e66f";
}

.his-youcaozuo_zhuanhuan:before {
  content: "\e720";
}

.his-prescription:before {
  content: "\e670";
}

.his-youcaozuo_zhuanchuang:before {
  content: "\e721";
}

.his-registration:before {
  content: "\e671";
}

.his-juese_menzhenyaofang:before {
  content: "\e722";
}

.his-checkout:before {
  content: "\e673";
}

.his-juese_wuziguanli:before {
  content: "\e723";
}

.his-del:before {
  content: "\e674";
}

.his-juese_guahuashoufei:before {
  content: "\e724";
}

.his-edit:before {
  content: "\e675";
}

.his-juese_yaoku:before {
  content: "\e725";
}

.his-left-arrow:before {
  content: "\e676";
}

.his-juese_zhuyuanyaofang:before {
  content: "\e726";
}

.his-right-arrow:before {
  content: "\e677";
}

.his-juese_bingquhushizhan:before {
  content: "\e727";
}

.his-disabled:before {
  content: "\e678";
}

.his-youcaozuo-quxiao:before {
  content: "\e728";
}

.his-automated:before {
  content: "\e679";
}

.his-caidan_erjicaidan:before {
  content: "\e729";
}

.his-cancellation:before {
  content: "\e67a";
}

.his-caidan_gaozhihaocai:before {
  content: "\e72a";
}

.his-turn:before {
  content: "\e67b";
}

.his-caidan_jituanzidian:before {
  content: "\e72b";
}

.his-undo:before {
  content: "\e67c";
}

.his-caidan_guahaoshoufei:before {
  content: "\e72c";
}

.his-specified:before {
  content: "\e67d";
}

.his-caidan_menzhenshuye:before {
  content: "\e72d";
}

.his-diagnosis:before {
  content: "\e67e";
}

.his-caidan_shoushu:before {
  content: "\e72e";
}

.his-charge:before {
  content: "\e67f";
}

.his-caidan_yonghuguanli:before {
  content: "\e72f";
}

.his-insurance:before {
  content: "\e680";
}

.his-caidan_zhuyuanyaofang:before {
  content: "\e730";
}

.his-reserve:before {
  content: "\e681";
}

.his-caidan_yiliaoquanxian:before {
  content: "\e731";
}

.his-ignore:before {
  content: "\e682";
}

.his-caidan_zhuyuanguanli:before {
  content: "\e732";
}

.his-append:before {
  content: "\e683";
}

.his-caidan_yaoku:before {
  content: "\e733";
}

.his-search:before {
  content: "\e684";
}

.his-caidan_zhuyuanhushi:before {
  content: "\e734";
}

.his-invocation:before {
  content: "\e685";
}

.his-caidan_zhuyuanyisheng:before {
  content: "\e735";
}

.his-save:before {
  content: "\e686";
}

.his-juese-caoyaoku:before {
  content: "\e736";
}

.his-import:before {
  content: "\e687";
}

.his-juese-chuangweiyuyue:before {
  content: "\e737";
}

.his-txt:before {
  content: "\e688";
}

.his-juese-guahaoyuyue:before {
  content: "\e738";
}

.his-left-triangle:before {
  content: "\e689";
}

.his-juese-menzhenzhongyao:before {
  content: "\e739";
}

.his-down-triangle:before {
  content: "\e627";
}

.his-juese-yijiyuyue:before {
  content: "\e73a";
}

.his-excel:before {
  content: "\e68a";
}

.his-juese-menzhenshuye:before {
  content: "\e73b";
}

.his-down-arrow:before {
  content: "\e68b";
}

.his-juese-shoumajifei:before {
  content: "\e73c";
}

.his-detail:before {
  content: "\e68c";
}

.his-juese-yikatong:before {
  content: "\e73d";
}

.his-create:before {
  content: "\e68d";
}

.his-juese-kangfuguanli:before {
  content: "\e73e";
}

.his-statistic:before {
  content: "\e68e";
}

.his-juese-yishen:before {
  content: "\e73f";
}

.his-report:before {
  content: "\e68f";
}

.his-caidan-yemianpeizhi:before {
  content: "\e740";
}

.his-pull-in:before {
  content: "\e690";
}

.his-keshiqiehuan1:before {
  content: "\e741";
}

.his-import-plan:before {
  content: "\e691";
}

.his-date_youjiantou:before {
  content: "\e742";
}

.his-print:before {
  content: "\e692";
}

.his-date_zuojiantou:before {
  content: "\e743";
}

.his-rsearch:before {
  content: "\e693";
}

.his-juese_buliangshijian:before {
  content: "\e744";
}

.his-pay:before {
  content: "\e694";
}

.his-juese_gaozhihaocai:before {
  content: "\e745";
}

.his-restore:before {
  content: "\e695";
}

.his-juese_shoushufenji:before {
  content: "\e746";
}

.his-invalid:before {
  content: "\e696";
}

.his-juese_binglibianji:before {
  content: "\e747";
}

.his-reimbursement:before {
  content: "\e698";
}

.his-juese_weijizhiguanli:before {
  content: "\e748";
}

.his-alias:before {
  content: "\e699";
}

.his-juese_yuanganguanli:before {
  content: "\e749";
}

.his-price:before {
  content: "\e69a";
}

.his-juese_suifang:before {
  content: "\e74a";
}

.his-attention:before {
  content: "\e69b";
}

.his-juese-binanguanli:before {
  content: "\e74b";
}

.his-property:before {
  content: "\e69c";
}

.his-juese_zhongxinweihu:before {
  content: "\e74c";
}

.his-policy:before {
  content: "\e69d";
}

.his-juese_yuanzhangchaxun:before {
  content: "\e74d";
}

.his-inventory:before {
  content: "\e69f";
}

.his-juese_zicanguanli:before {
  content: "\e74e";
}

.his-approval:before {
  content: "\e6a0";
}

.his-juese_suifang1:before {
  content: "\e74f";
}

.his-odo:before {
  content: "\e6a1";
}

.his-juese_jiekoufuwupingtao:before {
  content: "\e750";
}

.his-storage:before {
  content: "\e6a3";
}

.his-juese_zizhufuwu:before {
  content: "\e751";
}

.his-confirm:before {
  content: "\e6a4";
}

.his-yizuofei-tuzhang-19:before {
  content: "\e752";
}

.his-info:before {
  content: "\e6a6";
}

.his-mokuai_fangxiang:before {
  content: "\e753";
}

.his-purchase:before {
  content: "\e6a7";
}

.his-mokuai_fuzhenyuyue:before {
  content: "\e754";
}

.his-admission-discharge:before {
  content: "\e6a5";
}

.his-youcaozuo_tianjiayibao:before {
  content: "\e755";
}

.his-insurances:before {
  content: "\e6a8";
}

.his-youcaozuo_chuangweifenpei:before {
  content: "\e756";
}

.his-nurse-station:before {
  content: "\e6a9";
}

.his-youcaozuo_zhangka:before {
  content: "\e757";
}

.his-report-manage:before {
  content: "\e6aa";
}

.his-mokuai_jianchajibenxinxi:before {
  content: "\e758";
}

.his-medical-system:before {
  content: "\e6ab";
}

.his-xia_shouqi:before {
  content: "\e759";
}

.his-developers-manage:before {
  content: "\e6ac";
}

.his-shang_zhankai:before {
  content: "\e75a";
}

.his-qutpatient-pharmacy:before {
  content: "\e6ad";
}

.his-caozuo_chushihua:before {
  content: "\e75b";
}

.his-anesthesia:before {
  content: "\e6ae";
}

.his-caidan_binglimoban:before {
  content: "\e75c";
}

.his-statistics-system:before {
  content: "\e6af";
}

.his-caidan_binglileixing:before {
  content: "\e75d";
}

.his-qutpatient-infusion:before {
  content: "\e6b0";
}

.his-caidan_jiegouhuashuju:before {
  content: "\e75e";
}

.his-registered:before {
  content: "\e6b1";
}

.his-yishoufei:before {
  content: "\e75f";
}

.his-invoice-manage:before {
  content: "\e6b2";
}

.his-jinggaowenan:before {
  content: "\e760";
}

.his-logistics-purchase:before {
  content: "\e6b3";
}

.his-shibaiwenan:before {
  content: "\e761";
}

.his-pharmacy-system:before {
  content: "\e6b4";
}

.his-bangzhuwenan:before {
  content: "\e762";
}

.his-news:before {
  content: "\e6b5";
}

.his-chenggongwenan:before {
  content: "\e763";
}

.his-warehouse-maintenance:before {
  content: "\e6b6";
}

.his-jinggao_close:before {
  content: "\e764";
}

.his-system-maintenance:before {
  content: "\e6b7";
}

.his-jiantou_xia:before {
  content: "\e765";
}

.his-account-manage:before {
  content: "\e6b8";
}

.his-jiantou_shang-28:before {
  content: "\e766";
}

.his-director-query:before {
  content: "\e6b9";
}

.his-jiegua-30:before {
  content: "\e767";
}

.his-skin-test:before {
  content: "\e6ba";
}

.his-shuxing_yizhuxiao:before {
  content: "\e768";
}

.his-medical-manage:before {
  content: "\e6bb";
}

.his-bring:before {
  content: "\e769";
}

.his-custom-report:before {
  content: "\e6bc";
}

.his-addto_icon:before {
  content: "\e76a";
}

.his-in-ontology-pharmacy:before {
  content: "\e6bd";
}

.his-caidan_duizhangguanli-34:before {
  content: "\e76b";
}

.his-logistics-maintenance:before {
  content: "\e6be";
}

.his-convey:before {
  content: "\e76c";
}

.his-lock:before {
  content: "\e603";
}

.his-pressing:before {
  content: "\e76d";
}

.his-unlock:before {
  content: "\e604";
}

.his-shangbao:before {
  content: "\e76e";
}

.his-reset:before {
  content: "\e605";
}

.his-fencai:before {
  content: "\e76f";
}

.his-candan-baobiao:before {
  content: "\e606";
}

.his-jiaodui:before {
  content: "\e770";
}

.his-caidanliebiao-more1:before {
  content: "\e60b";
}

.his-canshan:before {
  content: "\e771";
}

.his-qiyong:before {
  content: "\e607";
}

.his-jieshuhuizhen:before {
  content: "\e772";
}

.his-tingyong:before {
  content: "\e608";
}

.his-reconciliation:before {
  content: "\e773";
}

.his-xinzhen:before {
  content: "\e609";
}

.his-hedui:before {
  content: "\e774";
}

.his-caozuo_xiangshang:before {
  content: "\e60c";
}

.his-yingxiangchakan:before {
  content: "\e775";
}

.his-caozuo_xiangxia:before {
  content: "\e60d";
}

.his-xindianchakan:before {
  content: "\e776";
}

.his-dot:before {
  content: "\e6bf";
}

.his-yingxiangjianchabaogao:before {
  content: "\e777";
}

.his-rt-arrow:before {
  content: "\e60f";
}

.his-distribution:before {
  content: "\e778";
}

.his-lt-arrow:before {
  content: "\e610";
}

.his-generate:before {
  content: "\e779";
}

.his-change-price:before {
  content: "\e617";
}

.his-acceptance:before {
  content: "\e77a";
}

.his-super-admin:before {
  content: "\e619";
}

.his-shenhe:before {
  content: "\e77b";
}

.his-hospatial-admin:before {
  content: "\e61a";
}

.his-youcaozuo_shengchenrukudan:before {
  content: "\e77c";
}

.his-resident-doc:before {
  content: "\e61b";
}

.his-youcaozuo_yulan:before {
  content: "\e77d";
}

.his-outpatient-doc:before {
  content: "\e61c";
}

.his-chakanshouye:before {
  content: "\e77e";
}

.his-jichushuju:before {
  content: "\e61d";
}

.his-mokuai_fuyingxinxi:before {
  content: "\e77f";
}

.his-menu_bed_icon:before {
  content: "\e61e";
}

.his-btn-news:before {
  content: "\e780";
}

.his-menu_guahao:before {
  content: "\e61f";
}

.his-news_time:before {
  content: "\e781";
}

.his-dongtaipeizhi:before {
  content: "\e620";
}

.his-quxiaoanpai:before {
  content: "\e782";
}

.his-menu_inpatient_icon:before {
  content: "\e621";
}

.his-anpai:before {
  content: "\e783";
}

.his-menu_baobiao:before {
  content: "\e622";
}

.his-duizhao-35:before {
  content: "\e784";
}

.his-menu_shanghaiyibao:before {
  content: "\e623";
}

.his-youcaozuo_jiesuo:before {
  content: "\e785";
}

.his-menu_Registration_icon:before {
  content: "\e624";
}

.his-buhelichufang:before {
  content: "\e786";
}

.his-menu_yiyuanshuju:before {
  content: "\e625";
}

.his-caozuo_shixin:before {
  content: "\e787";
}

.his-menu_shoufei:before {
  content: "\e626";
}

.his-xiugai:before {
  content: "\e612";
}

.his-menu_taifang:before {
  content: "\e628";
}

.his-liuguanyishengzhan:before {
  content: "\e614";
}

.his-menu_yonghushouquan:before {
  content: "\e629";
}

.his-jizhenliuguanguanli:before {
  content: "\e615";
}

.his-menu_yuyue:before {
  content: "\e62a";
}

.his-liuguanhushizhan1:before {
  content: "\e616";
}

.his-menu_system_icon:before {
  content: "\e62b";
}

.his-moban:before {
  content: "\e613";
}

.his-menu_posguanli:before {
  content: "\e62c";
}

.his-duanla:before {
  content: "\e618";
}

.his-btn-print:before {
  content: "\e62e";
}

.his-lingcunweigerenmoban:before {
  content: "\e62d";
}

.his-caozuo-fapiao:before {
  content: "\e62f";
}

.his-tuwen:before {
  content: "\e639";
}

.his-caozuo-fayao:before {
  content: "\e630";
}

.his-shipin:before {
  content: "\e63a";
}

.his-caozuo-fuzhibingli:before {
  content: "\e631";
}

.his-kefugongzuozhan:before {
  content: "\e788";
}

.his-caozuo-huolijilu:before {
  content: "\e632";
}

.his-zaixian:before {
  content: "\e789";
}

.his-caozuo-jiandang:before {
  content: "\e633";
}

.his-lixian:before {
  content: "\e78a";
}

.his-caozuo-tuiyao:before {
  content: "\e634";
}

.his-jianyi:before {
  content: "\e78b";
}

.his-caozuo-zhusheka:before {
  content: "\e635";
}

.his-guidang:before {
  content: "\e78c";
}

.his-caozuo-kangjunyao:before {
  content: "\e636";
}

.his-chexiaoguidang:before {
  content: "\e78d";
}

.his-caozuo-xinchufang:before {
  content: "\e638";
}

.his-quxiaotijiao_icon:before {
  content: "\e78e";
}

.his-inventory-del:before {
  content: "\e637";
}

.his-chexiaoguidang1:before {
  content: "\e78f";
}

.his-btn-refresh:before {
  content: "\e645";
}

.his-guidang1:before {
  content: "\e790";
}

.his-btn-close:before {
  content: "\e646";
}

.his-jinyong2:before {
  content: "\e791";
}

.his-btn-edit:before {
  content: "\e647";
}

.his-jinyong:before {
  content: "\e792";
}

.his-btn-save:before {
  content: "\e648";
}

.his-qiyong1:before {
  content: "\e793";
}

.his-btn-add:before {
  content: "\e649";
}

.his-qiyong2:before {
  content: "\e794";
}

.his-btn-reset:before {
  content: "\e64a";
}

.his-guahaoshoufei:before {
  content: "\e796";
}

.his-move-up:before {
  content: "\e64b";
}

.his-bingquhushizhan:before {
  content: "\e797";
}

.his-move-down:before {
  content: "\e64c";
}

.his-zhenliaoyewu:before {
  content: "\e798";
}

.his-btn-del:before {
  content: "\e64d";
}

.his-yaofangyewu:before {
  content: "\e799";
}

.his-btn-confirm:before {
  content: "\e64e";
}

.his-zhuyuanxitong:before {
  content: "\e79a";
}

.his-inserting:before {
  content: "\e64f";
}

.his-fapiaoqingkuang:before {
  content: "\e79d";
}

.his-del-group:before {
  content: "\e650";
}

.his-huanzheyishi:before {
  content: "\e79e";
}

.his-group:before {
  content: "\e651";
}

.his-huanzhexinxi:before {
  content: "\e79f";
}

.his-btn-charge:before {
  content: "\e652";
}

.his-shoukuanjine:before {
  content: "\e7a1";
}

.his-btn-copy:before {
  content: "\e654";
}

.his-qianming:before {
  content: "\e795";
}

.his-herbs:before {
  content: "\e63b";
}

.his-shenpibutongguo:before {
  content: "\e79b";
}

.his-template:before {
  content: "\e63c";
}

.his-daoru:before {
  content: "\e79c";
}

.his-discharge:before {
  content: "\e63d";
}

.his-shangchuan:before {
  content: "\e7a0";
}

.his-hulijihua:before {
  content: "\e63e";
}

.his-tijiao:before {
  content: "\e7a2";
}

.his-thermometer:before {
  content: "\e63f";
}

.his-shenpitongguo:before {
  content: "\e7a3";
}

.his-return:before {
  content: "\e640";
}

.his-xiugaihenji:before {
  content: "\e7a4";
}

.his-transfer:before {
  content: "\e641";
}

.his-quxiaoqianming:before {
  content: "\e7a5";
}

.his-diagnose:before {
  content: "\e642";
}

.his-a-xinzengF1:before {
  content: "\e7a6";
}

.his-reading-card:before {
  content: "\e643";
}

.his-patient-info:before {
  content: "\e644";
}

.his-bed-distribution:before {
  content: "\e653";
}

.his-leave-notice:before {
  content: "\e65c";
}

.his-basic-info:before {
  content: "\e65d";
}

.his-hospitalized-info:before {
  content: "\e65e";
}

.his-advance-payment:before {
  content: "\e65f";
}

.his-resident-doc1:before {
  content: "\e663";
}

.his-hospatial-admin1:before {
  content: "\e66c";
}

.his-super-admin1:before {
  content: "\e672";
}

.his-outpatient-doc1:before {
  content: "\e697";
}

.his-list:before {
  content: "\e69e";
}

.his-card:before {
  content: "\e6a2";
}

.his-card-open:before {
  content: "\e6c0";
}

.his-operation1:before {
  content: "\e6c1";
}

.his-card-put:before {
  content: "\e6c2";
}

.his-transfers:before {
  content: "\e655";
}

.his-retreat-bed:before {
  content: "\e6c3";
}

.his-bedding:before {
  content: "\e6c4";
}

.his-es_ES:before {
  content: "\e6c5";
}

.his-full-screen:before {
  content: "\e6c6";
}

.his-en_US:before {
  content: "\e6c7";
}

.his-zh_CN:before {
  content: "\e6c8";
}

.his-ja_JP:before {
  content: "\e6c9";
}

.his-init:before {
  content: "\e6ca";
}

.his-mn_MN:before {
  content: "\e6cb";
}

.his-out:before {
  content: "\e6cc";
}

.his-tree-Folder_unfold:before {
  content: "\e6cd";
}

.his-tree-Folder:before {
  content: "\e6ce";
}

.his-tree-submen:before {
  content: "\e6cf";
}

.his-tree-tuck-up:before {
  content: "\e6d0";
}

.his-tree-unfold:before {
  content: "\e6d1";
}

.his-tab-close:before {
  content: "\e6d2";
}

.his-caozuo-cancellation-cancel:before {
  content: "\e6d4";
}

.his-caozuo-Details:before {
  content: "\e6d5";
}

.his-caozuo-cancellation:before {
  content: "\e6d6";
}

.his-caozuo-breakage:before {
  content: "\e6d7";
}

.his-caozuo-jiaohao-cancellation:before {
  content: "\e6d8";
}

.his-caozuo-export:before {
  content: "\e6d9";
}

.his-caozuo-Inventory-allot:before {
  content: "\e6da";
}

